@{
    ViewBag.Title = "Home Page";
}

<div class="hero hero-creative-wrapper">
    <div class="hero-creative">
        <div class="hero-creative-image" style="background-image: url(/Content/assets/img/tmp/hero-2.jpg ) ;">

            <div class="hero-creative-title">
                <h1>We love to</h1>
                <h2>Promote Awesome <br>City Events</h2>
                <a href="#" class="btn btn-secondary btn-lg">Show All Events <i class="fa fa-chevron-right"></i></a>
            </div><!-- /.hero-creative-title -->

            <div class="hero-creative-pin" style="transition-delay: 2.2s; bottom: 160px; left: 100px;">
                <span class="hero-creative-pin-place"></span>
                <div class="hero-creative-pin-title">
                    <h3><a href="#">Carneval Vestival</a></h3>
                    <h4>Emerson Street 90210</h4>
                </div>
            </div><!-- /.hero-creative-pin -->

            <div class="hero-creative-pin" style="transition-delay: 2.5s; bottom: 60px; left: 300px;">
                <span class="hero-creative-pin-place"></span>
                <div class="hero-creative-pin-title">
                    <h3><a href="#">Movie Night</a></h3>
                    <h4>Emerson Street 90210</h4>
                </div>
            </div><!-- /.hero-creative-pin -->

            <div class="hero-creative-pin" style="transition-delay: 3.3s; bottom: 200px; left: 530px;">
                <span class="hero-creative-pin-place"></span>
                <div class="hero-creative-pin-title">
                    <h3><a href="#">Walking Tour</a></h3>
                    <h4>Emerson Street 90210</h4>
                </div>
            </div><!-- /.hero-creative-pin -->

            <div class="hero-creative-pin" style="transition-delay: 3s; bottom: 130px; left: 750px;">
                <span class="hero-creative-pin-place"></span>
                <div class="hero-creative-pin-title">
                    <h3><a href="#">Free Comedy</a></h3>
                    <h4>Emerson Street 90210</h4>
                </div>
            </div><!-- /.hero-creative-pin -->

            <div class="hero-creative-pin" style="transition-delay: 2.8s; bottom: 280px; left: 1000px;">
                <span class="hero-creative-pin-place"></span>
                <div class="hero-creative-pin-title">
                    <h3><a href="#">Poetry Slam</a></h3>
                    <h4>Emerson Street 90210</h4>
                </div>
            </div><!-- /.hero-creative-pin -->

            <div class="hero-creative-pin" style="transition-delay: 3.2s; bottom: 180px; left: 1180px;">
                <span class="hero-creative-pin-place"></span>
                <div class="hero-creative-pin-title">
                    <h3><a href="#">The Musical</a></h3>
                    <h4>Emerson Street 90210</h4>
                </div>
            </div><!-- /.hero-creative-pin -->

            <div class="hero-creative-pin" style="transition-delay: 2.7s; bottom: 100px; left: 1400px;">
                <span class="hero-creative-pin-place"></span>
                <div class="hero-creative-pin-title">
                    <h3><a href="#">New York Ballet</a></h3>
                    <h4>Emerson Street 90210</h4>
                </div>
            </div><!-- /.hero-creative-pin -->

            <div class="hero-scroll">
                <div class="hero-scroll-mice">
                </div><!-- /.hero-scroll-mice -->
                <span>Scroll Down</span>
            </div><!-- /.hero-scroll -->
        </div><!-- /.hero-image -->
    </div><!-- /.hero-creative -->
</div><!-- /.hero -->

<div class="boxes">
    <div class="container-fluid no-padding">
        <div class="box-wrapper">
            <div class="box">
                <i class="fa fa-heart-o"></i>
                <h2>Unlimited Variations</h2>

                <p>
                    Mauris in euismod ante. In accumsan orci sed turpis blandit elementum. Vestibulum.
                </p>
            </div><!-- /.box -->
        </div><!-- /.box-wrapper -->

        <div class="box-wrapper">
            <div class="box">
                <i class="fa fa-diamond"></i>
                <h2>Unique Design</h2>

                <p>
                    Mauris in euismod ante. In accumsan orci sed turpis blandit elementum. Vestibulum.
                </p>
            </div><!-- /.box -->
        </div><!-- /.box-wrapper -->

        <div class="box-wrapper">
            <div class="box">
                <i class="fa fa-book"></i>
                <h2>Well Organized</h2>

                <p>
                    Mauris in euismod ante. In accumsan orci sed turpis blandit elementum. Vestibulum.
                </p>
            </div><!-- /.box -->
        </div><!-- /.box-wrapper -->

        <div class="box-wrapper">
            <div class="box">
                <i class="fa fa-mobile"></i>
                <h2>Fully Responsive</h2>

                <p>
                    Mauris in euismod ante. In accumsan orci sed turpis blandit elementum. Vestibulum.
                </p>
            </div><!-- /.box -->
        </div><!-- /.box-wrapper -->
    </div><!-- /.container-fluid -->
</div><!-- /.boxes -->
